#vids {
	width: 100%;
	height: 100vh;
	background: #333;
	position: relative;
	padding: 200px 0px 100px;

	.swiper {
		height: 100%;

		.swiper-slide {
			width: 100%;
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			font: bold 50px/1 'arial';
			color: #333;
		}
	}
}
