.Department {
	> .inner {
		&::after {
			content: '';
			display: block;
			clear: both;
		}

		article {
			width: 33.333%;
			float: left;
			padding: 10px;
			margin-bottom: 50px;

			.inner {
				width: 100%;

				.pic {
					width: 100%;
					height: 300px;
					background: #111;
					margin-bottom: 20px;
					filter: saturate(0.2);
					transition: 0.5s;

					&:hover {
						filter: saturate(1.1);
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}
